In [60]:
# import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, BigInteger
Base = declarative_base()

import json
#import psycopg2

In [61]:
# Set connection 
path = "AllData.sqlite"
engine = create_engine(f"sqlite:///{path}")

#conn = engine.connect()

In [62]:
# Inspect table 
# Use the Inspector to explore the database and print the table names
inspector = inspect(engine)
inspector.get_table_names()

['attributes', 'religion', 'senate']

In [64]:
columns = inspector.get_columns('attributes')
for c in columns:
    print(c['name'], c["type"])

level_0 BIGINT
index BIGINT
SUMLEV BIGINT
REGION BIGINT
DIVISION BIGINT
STATE BIGINT
NAME TEXT
SEX BIGINT
ORIGIN BIGINT
RACE BIGINT
AGE BIGINT
CENSUS2010POP BIGINT
ESTIMATESBASE2010 BIGINT
POPESTIMATE2010 BIGINT
POPESTIMATE2011 BIGINT
POPESTIMATE2012 BIGINT
POPESTIMATE2013 BIGINT
POPESTIMATE2014 BIGINT
POPESTIMATE2015 BIGINT
POPESTIMATE2016 BIGINT
POPESTIMATE2017 BIGINT
POPESTIMATE2018 BIGINT
POPESTIMATE2019 BIGINT

In [52]:
# TODO: class constructor function to pull from ^
class Attributes(Base):
    __tablename__ = 'attributes'
    index = Column(BigInteger, primary_key = True)
    SUMLEV = Column(Integer)
    REGION = Column(Integer)
    DIVISION = Column(Integer)
    STATE = Column(Integer)
    NAME = Column(BigInteger)
    SEX = Column(Integer)
    ORIGIN = Column(Integer)
    RACE  = Column(Integer)
    AGE = Column(Integer)
    CENSUS2010POP = Column(BigInteger)
    ESTIMATESBASE2010 = Column(BigInteger)
    POPESTIMATE2010 = Column(BigInteger)
    POPESTIMATE2011 = Column(BigInteger)
    POPESTIMATE2012 = Column(BigInteger)
    POPESTIMATE2013 = Column(BigInteger)
    POPESTIMATE2014 = Column(BigInteger)
    POPESTIMATE2015 = Column(BigInteger)
    POPESTIMATE2016 = Column(BigInteger)
    POPESTIMATE2017 = Column(BigInteger)
    POPESTIMATE2018 = Column(BigInteger)
    POPESTIMATE2019 = Column(BigInteger)

Base.metadata.create_all(engine)

In [65]:
session = Session(bind=engine)

In [69]:
Query(Attributes).column_descriptions

[{'name': 'Attributes',
  'type': __main__.Attributes,
  'aliased': False,
  'expr': __main__.Attributes,
  'entity': __main__.Attributes}]

In [73]:
from sqlalchemy.orm import Query
attribute_rows = (
    Query(Attributes)
    .with_session(session)
    .with_entities(Attributes.NAME)
    .first()
)
attribute_rows

NameError: name 'NAME' is not defined

In [59]:

my_table = session.query(Attributes)
# print(my_table)


# print([r for r in my_table])

r = [dict((cols[i], value) for i, value in enumerate(row)) for row in my_table]

# print(r)

TypeError: 'Attributes' object is not iterable

In [ ]:
from sqlalchemy.dialects import sqlite
usa = session.query(BaseballPlayer).filter(BaseballPlayer.birth_country == 'USA')
print(usa.statement.compile(dialect=sqlite.dialect()))

from sqlalchemy import Query

year = (
    Query(BaseballPlayer)
    .filter(birth_year < 1990)
    .with_session(session)
    .all()
)
for player in year:
    print(player.name_first)

In [41]:
#engine.execute('SELECT * FROM attributes LIMIT 10').fetchall()

In [42]:
# get column names
#columns_dict = inspector.get_columns('attributes')
#print(columns_dict)

In [ ]:








my_table = session.query(Senate).all()
print(my_table)


#print([r for r in my_table])

# r = [dict((cols[i], value) for i, value in enumerate(row)) for row in my_table]

# print(r)


# inspector = inspect(engine)

# tables = inspector.get_table_names()

# for t in tables:
#     my_table = session.query(t)
#     columns_dict = inspector.get_columns(t)
#     cols = [c['name'] for c in columns_dict]

#     # for column in columns:
#     #     print(column["name"], column["type"])

#     r = [dict((cols[i], value) for i, value in enumerate(row)) for row in my_table]

#     print(r)

    # my_query = query_db("select * from senate")

    # json_output = json.dumps(my_query)