In [33]:
import pandas as pd

data = pd.read_csv('ReligiousAffiliationByState.csv')

In [34]:
data.head()

,State,Baptist Family (ET),Methodist Family (ET),Non-denominational Family (ET),Lutheran Family (ET),Presbyterian (ET),Pentecostal Family (ET),Episcopalian/Anglican Family (ET),Restorationist Family (ET),Congregationalist Family (ET),...,Muslim,Buddhist,Hindu,Other World Religions,Unitarians,New Age,Native American Religions,Atheist,Agnostic,Nothing in Particular
0,Washington,3,< 1,8,2,1,4,< 1,1,< 1,...,<1,1,1,<1,1,1,<1,5,5,22.0
1,Oregon,8,<1,7,1,1,6,<1,2,<1,...,1,<1,<1,1,2,1,<1,5,8,18.0
2,California,3,<1,5,1,1,4,<1,1,<1,...,1,2,2,1,1,<1,<1,4,5,18.0
3,Alaska,6,<1,5,1,2,2,<1,1,<1,...,<1,1,<1,1,2,1,1,5,6,20.0
4,Hawaii,4,<1,7,1,1,3,<1,3,<1,...,<1,8,<1,<1,1,<1,<1,2,5,20.0

In [76]:
data0 = data.replace(to_replace = ['<1', '< 1', '<16', ',', '<!', '<1<1'], value = '0') # regex for 'includes <'?
# data1 = data0.replace(to_replace = '< 1', value = '0')
# data1 = data1.replace(to_replace = '<16', value = '0') # fix in original sheet
data1 = data0.fillna(value='0')
data1.head()

,State,Baptist Family (ET),Methodist Family (ET),Non-denominational Family (ET),Lutheran Family (ET),Presbyterian (ET),Pentecostal Family (ET),Episcopalian/Anglican Family (ET),Restorationist Family (ET),Congregationalist Family (ET),...,Muslim,Buddhist,Hindu,Other World Religions,Unitarians,New Age,Native American Religions,Atheist,Agnostic,Nothing in Particular
0,Washington,3,0,8,2,1,4,0,1,0,...,0,1,1,0,1,1,0,5,5,22
1,Oregon,8,0,7,1,1,6,0,2,0,...,1,0,0,1,2,1,0,5,8,18
2,California,3,0,5,1,1,4,0,1,0,...,1,2,2,1,1,0,0,4,5,18
3,Alaska,6,0,5,1,2,2,0,1,0,...,0,1,0,1,2,1,1,5,6,20
4,Hawaii,4,0,7,1,1,3,0,3,0,...,0,8,0,0,1,0,0,2,5,20

In [77]:
relig_list = data1.columns
new_cols = list(range(55))
data1.columns = new_cols
data1.head()

           0  1  2  3  4  5  6  7  8  9   ... 45 46 47 48 49 50 51 52 53  54
0  Washington  3  0  8  2  1  4  0  1  0  ...  0  1  1  0  1  1  0  5  5  22
1      Oregon  8  0  7  1  1  6  0  2  0  ...  1  0  0  1  2  1  0  5  8  18
2  California  3  0  5  1  1  4  0  1  0  ...  1  2  2  1  1  0  0  4  5  18
3      Alaska  6  0  5  1  2  2  0  1  0  ...  0  1  0  1  2  1  1  5  6  20
4      Hawaii  4  0  7  1  1  3  0  3  0  ...  0  8  0  0  1  0  0  2  5  20

[5 rows x 55 columns]

In [ ]:
# CHECK: rhode island presbyterians, <16

In [80]:
relig_dict = {}

for n in range(1,55):
    try:
        us_perc = round(sum([int(d) for d in list(data1[n])]) / 51, 2)
        relig_dict[relig_list[n]] = us_perc
    except:
        print(n)
# could make this a list comp but might be confusing

In [81]:
relig_dict

{'Baptist Family (ET)': 9.94,
 'Methodist Family (ET)': 0.25,
 'Non-denominational Family (ET)': 4.61,
 'Lutheran Family (ET)': 1.92,
 'Presbyterian (ET)': 0.73,
 'Pentecostal Family (ET)': 3.27,
 'Episcopalian/Anglican Family (ET)': 0.0,
 'Restorationist Family (ET)': 1.57,
 'Congregationalist Family (ET)': 0.04,
 'Holiness Family (ET)': 0.78,
 'Reformed Family (ET)': 0.06,
 'Adventist Family (ET)': 0.49,
 'Anabaptist Family (ET)': 0.2,
 'Pietist Family (ET)': 0.1,
 'Other Evangelical': 0.14,
 'NonSpecific Protestant Family (ET)': 1.51,
 'Baptist Family (MT)': 2.55,
 'Methodist Family (MT)': 4.27,
 'Non-Denominational Family (MT)': 1.06,
 'Lutheran Family (MT)': 2.71,
 'Presbyterian Family (MT)': 1.33,
 'Episcopalian/Anglican Family (MT)': 1.41,
 'Restorationist Family (MT)': 0.18,
 'Congregationalist Family (MT)': 0.61,
 'Reformed Family (MT)': 0.06,
 'Anabaptist Family (MT)': 0.06,
 'Friends Family (MT)': 0.02,
 'NonSpecific Protestant Family (MT)': 1.92,
 'Baptist Family (HBPT)': 3.59,
 'Methodist Family (HBPT)': 0.51,
 'Pentecostal Family (HBPT)': 0.76,
 'Holiness Family (HBPT)': 0.1,
 'Non-Denominational Family (HBPT)': 0.25,
 'NonSpecific Protestant (HBPT)': 0.27,
 'Catholic': 19.0,
 'Mormon-LDS': 2.75,
 'Other Mormom': 0.1,
 'Greek Orthodox': 0.16,
 'Russian Orthodox': 0.1,
 'Orthodox Church in America': 0.0,
 'Other Orthodox Christian': 0.02,
 "Jehovah's Witness": 0.61,
 'Other Christian': 0.31,
 'Jewish': 1.27,
 'Muslim': 0.61,
 'Buddhist': 0.73,
 'Hindu': 0.37,
 'Other World Religions': 0.14,
 'Unitarians': 1.1,
 'New Age': 0.45,
 'Native American Religions': 0.29,
 'Atheist': 3.06,
 'Agnostic': 4.43,
 'Nothing in Particular': 15.41}

//Catholic,
//Mormon-LDS,Other Mormom,
//Greek Orthodox,Russian Orthodox,Orthodox Church in America,Other Orthodox Christian,Jehovah's Witness,Other Christian,
//Jewish,Muslim,Buddhist,Hindu,Other World Religions,Unitarians,New Age,Native American Religions,
//Atheist,Agnostic,Nothing in Particular

// PROTESTANT:
// Baptist Family (ET),Methodist Family (ET),Non-denominational Family (ET),Lutheran Family (ET),Presbyterian (ET),
//Pentecostal Family (ET),Episcopalian/Anglican Family (ET),Restorationist Family (ET),Congregationalist Family (ET),
//Holiness Family (ET),Reformed Family (ET),Adventist Family (ET),Anabaptist Family (ET),Pietist Family (ET),Other Evangelical,
//NonSpecific Protestant Family (ET),Baptist Family (MT),Methodist Family (MT),Non-Denominational Family (MT),Lutheran Family (MT),Presbyterian Family (MT),
//Episcopalian/Anglican Family (MT),Restorationist Family (MT),Congregationalist Family (MT),Reformed Family (MT),Anabaptist Family (MT),Friends Family (MT),
//NonSpecific Protestant Family (MT),Baptist Family (HBPT),Methodist Family (HBPT),Pentecostal Family (HBPT),Holiness Family (HBPT),
//Non-Denominational Family (HBPT),NonSpecific Protestant (HBPT),

In [ ]:
religion_list = ['Catholic', 'Jewish', 'Protestant', 'Unaffiliated', 'Unknown', 'Latter-day Saint']
relig_color_dict = {'Catholic':'brown', 
    'Jewish':'purple', 
    'Protestant':'red', 
    'Unaffiliated':'gray', 
    'Buddhist':'blue', 
    'Unknown':'black', 
    'Latter-day Saint':'orange',
    'Congregationalist':'red', 'Episcopalian':'red', 'Presbyterian':'red', 'Evangelical':'red', 'Protestant':'red', 
    'Baptist':'red', 'Lutheran':'red', 'Methodist':'red', 'Restorationist':'red', 'Quaker':'red', 'Holiness':'red'};